@using Restaurant_Project.Models.Entity
@model List<Tbl_Why_Select>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Why are our? Screen</h2>
<br />


<div class="card-body table-full-width table-responsive">
    <table class="table table-hover">
        <thead>
        <th style="width: 20%;">Title</th>
        <th style="width: 40%;">Description</th>
        <th style="width: 15%;">Update</th>


        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#@item.ID">Update</button></td>

                    <div class="modal fade" id="@item.ID" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Product Information Edit Page</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="/WhySelect/WhySelectEdit/@item.ID">
                                        <div class="modal-body">
                                            <label>Title</label>
                                            <input type="text" name="Title" class="form-control" value="@item.Title">
                                            <label>Description</label>
                                            <textarea class="form-control" name="Description" rows="15" style="  height: 150px;">@item.Description</textarea>

                                        </div>
                                        <br />
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-warning">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            }
        </tbody>
    </table>
</div>
